In [1]:
import pandas as pd

In [2]:
import pickle

In [3]:
# Baca DataFrame dari file pickle
with open('df_cache.pkl', 'rb') as f:
    df = pickle.load(f)

In [4]:
df.head()

,Line,Date,Shift,NoJig,Part.ID,NoCard,PartName,NoBarrelHanger,NoBak,Std Load,...,Flek Putih,Spark,Kotor H/ Oval,Terkikis/ Crack,Dimensi/ Penyok,Kategori,Cust.ID,Tot_NG,NG_%,M/C No.
0,Rack 1,2024-09-02,2,1.12.37.2.44,SSY KIC 2PBH,15,Kick 2PHB 14K147,8.0,1,288.0,...,0.0,0.0,0.0,0.0,0.0,RACK 1,SSY,0.000000,0.000000,
1,Rack 1,2024-09-02,2,1.18.2.8.5,SSY PED 2PBH,16,Pedal 2PHB 14K148,9.0,3,864.0,...,0.0,0.0,0.0,0.0,0.0,RACK 1,SSY,0.000000,0.000000,
2,Rack 1,2024-09-02,2,1.2.11.4.1,KW SPR SEA C HKF02,17,Spring Seat C. HKF02-394-0A-IN (Blue),11.0,1,378.0,...,0.0,0.0,0.0,0.0,0.0,RACK 1,KW,0.002646,0.268089,
3,Rack 1,2024-09-02,2,1.12.27.42.31,SSY KIC 2PBH,18,Kick 2PHB 14K147,12.0,4,288.0,...,0.0,0.0,0.0,0.0,0.0,RACK 1,SSY,0.000000,0.000000,
4,Rack 1,2024-09-02,2,1.12.1.5.10,SSY KIC 2PBH,19,Kick 2PHB 14K147,14.0,1,288.0,...,0.0,0.0,0.0,0.0,0.0,RACK 1,SSY,0.020833,2.142906,

In [21]:
NG_by_kategori=(
    df[["Kategori","NG_%","Insp(B/H)"]]
    .groupby(by="Kategori")
    .mean()
    .sort_values(by="NG_%",ascending=False)
    .reset_index()
)

In [22]:
NG_by_kategori

  Kategori      NG_%
0   RACK 1  2.626648
1      SMP  1.542419
2      OTH  0.790496
3     BUSI  0.755558
4   NICKEL  0.000000

Ini tools untuk memecah file besar banyak baris agar  mudah dicopas ke gsheet

In [24]:
df=pd.read_excel("Sept2024_clean.xlsx")

# Tentukan jumlah baris per bagian
baris_per_bagian = 3000

# Bagi data menjadi 3 bagian
data1 = df.iloc[:baris_per_bagian]
data2 = df.iloc[baris_per_bagian:baris_per_bagian*2]
data3 = df.iloc[baris_per_bagian*2:]

# Simpan setiap bagian ke dalam file CSV
data1.to_csv('Data1.csv', index=False)
data2.to_csv('Data2.csv', index=False)
data3.to_csv('Data3.csv', index=False)

In [26]:
# Baca data dari file Excel
df1 = pd.read_excel('QUA_Jan_Aug24_FinalCleaningPy3.xlsx')  # Ganti 'file1.xlsx' dengan nama file Excel Anda
df2 = pd.read_excel('Sept2024_clean.xlsx')  # Ganti 'file2.xlsx' dengan nama file Excel Anda

# Gabungkan kedua DataFrame secara vertikal (baris demi baris)
df = pd.concat([df1, df2], ignore_index=True)

# Simpan DataFrame gabungan ke dalam file Excel baru
df.to_excel('df_gabungan.xlsx', index=False)

df

,Line,Date,Shift,NoJig,M/C No.,NoCard,Std Load,NoBarrelHanger,NoBak,Cust.ID,...,Bintik,Kilap,Tebal,Flek Putih,Spark,Kotor H/ Oval,Terkikis/ Crack,Dimensi/ Penyok,MTL/ SLipMelintir,Kategori
0,Barrel 4,2024-01-02,1,R,NaN,1,500,07,1,CHI,...,0,0,0,0.0,0.0,0.0,0,0.0,0.000000,OTH
1,Barrel 4,2024-01-02,1,L,NaN,2,500,17,6,CHI,...,0,0,0,0.0,0.0,0.0,0,0.0,0.000000,OTH
2,Barrel 4,2024-01-02,1,28.12.01.09.17.01,9,70,5000,22,1R,DNIA,...,0,0,0,0.0,0.0,0.0,0,0.0,0.004800,SMP
3,Barrel 4,2024-01-02,1,21.12.02.05.20.25,5,158,30000,17,1R,DNIA,...,0,0,0,0.0,0.0,0.0,0,0.0,0.000000,SMP
4,Barrel 4,2024-01-02,1,21.12.02.14.13.42,14,1,12000,22,2R,DNIA,...,0,0,0,0.0,0.0,0.0,0,0.0,0.059167,SMP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70420,Barrel 4,2024-09-30,1,02.09.08.01.03.33,1.0,25,5000,14.0,5R,DNIAF,...,0,0,0,0.0,0.0,0.0,0,0.0,0.000000,SMP
70421,Barrel 4,2024-09-30,1,R,NaN,179,200,1.0,3,HDI,...,0,0,0,0.0,0.0,0.0,0,0.0,0.000000,BUSI
70422,Barrel 4,2024-09-30,1,L,NaN,180,200,18.0,4,HDI,...,0,0,0,0.0,0.0,0.0,0,0.0,0.000000,BUSI
70423,Barrel 4,2024-09-30,1,L,NaN,182,200,4.0,5,HDI,...,0,0,0,0.0,0.0,0.0,0,0.0,0.000000,BUSI
70424,Barrel 4,2024-09-30,1,L,NaN,184,200,13.0,6,HDI,...,0,0,0,0.0,0.0,0.0,0,0.0,0.000000,BUSI